h1,
h2,
h3,
h4 {
  margin: 0 !important;
}

.cardborder {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  border-radius: 3px;
  box-shadow: none !important;
}

.my-1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.text-grey {
  color: grey;
}

.container {
  padding: 2rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.grow {
  flex-grow: 1;
}

.campaign-image {
  margin-top: 5%;
  background-size: "cover";
  height: 300px;
}
