.container12 {
  width: 12%;
}

.container12 div.logo {
  display: block;
  margin: auto;
}

.container68 {
  width: 68%;
}

.container20 {
  width: 20%;
}

.container25 {
  display: block;
  width: 50%;
  height: 50%;
  float: left;
}

.container50 {
  width: 50%;
  height: 100%;
  float: left;
}

.centercontainer {
  margin: auto;
}

.centeredtext {
  display: flex;
  height: 100%;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
}

.search-bar {
  width: 100%;
}

.search-bar .input {
  width: 100%;
}

.posterboy {
  width: 80%;
  margin: auto;
  margin-top: 4em;
}

.eq-card {
  height: 100%;
  width: 100%;
}

.cardborder {
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow 0.1s ease, transform 0.1s ease,
    -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
}

.cardtext {
  height: 40%;
}

.centercontainer2 {
  display: flex;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
}

.footer-logo-image {
  display: block;
  float: left;
  margin-right: 15px;
  top: -6%;
}

.footer-text {
  color: grey;
  font-size: 16px;
  margin-bottom: 5px;
  text-align: justify;
}

.login-button-container {
  width: 100%;
}

.button-uppercase {
  text-transform: uppercase;
}

.login-buttons {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.login-container {
  width: 70%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 5%;
}

.signup-buttons {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.companies-container {
  padding: 5%;
}

.companies-image {
  margin-top: 5%;
}

.companies-pre-description {
  display: inline-block;
}

.companies-description {
  text-align: justify;
}

.companies-download-container {
  margin: auto;
  width: 100%;
}

.companies-details .ui .card {
  height: 100%;
}

.companies-funding-history-logo {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.companies-funding-history-details {
  display: inline-block;
  width: auto;
  font-size: large;
  font-weight: 700;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  margin-left: 15px;
}

.companies-manager-button {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.companycard {
  flex-grow: 0;
}
